os: linux
dist: trusty
language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4

matrix:
  allow_failures:
      - php: 7.4

branches:
  only:
    - master

install:
  - composer install --prefer-dist

script:
  - make test

after_success:
  - if [[ "7.3" == "${TRAVIS_PHP_VERSION}" ]]; then bash <(curl -s https://codecov.io/bash) ; fi

cache:
  directories:
    - $HOME/.composer/cache/files
    - vendor
